.atomic-rocket {
	position: absolute;
	top: calc(14%);
	left: 50%;
	z-index: -1;
	height: 100px;
	width: 100px;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
	.atomic-rocket {
		/* position: absolute;
		transition: all 0.8s ease;
		top: calc(20%);
		height: 200px;
		width: 130px; */
	}
}

@media only screen and (min-width: 667px) and (max-width: 825px) {
	.atomic-rocket {
		/* top: calc(32%);
		transition: all 0.8s ease;
		height: 350px;
		width: 260px; */
	}
}

@media only screen and (min-width: 667px) and (max-width: 825px) {
	.atomic-rocket {
		/* top: calc(37%);
		transition: all 0.8s ease;
		height: 350px;
		width: 260px; */
	}
}

@media screen and (max-width: 375px) {
	.atomic-rocket {
		/* width: 120px;
		transition: all 0.8s ease;
		height: 220px;
		top: calc(35%); */
	}
}