.loveLetter{
	border: 2px solid green;
	width: 50%;
	margin-top: 300px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 2.3rem;
}

.loveLetter__coding{
	color: #672ae9;
}

.loveLetter__cheese{
	color: #672ae9;
}

.loveLetter__line1{
	color: #dbdbdb;
}

.loveLetter__line2{
	color: #dbdbdb;
}

.loveLetter__line3{
	color: #dbdbdb;
}