@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.header {
	border: 2px solid red;
	display: flex;
	/* justify-content: space-around; */
	min-height: 7vh;
	align-items: center;
}

.header__chosen--link {
	color: #672ae9;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	margin-left: 2rem;
	text-align: left;
	width: 100%;
}

.header__navlinks {
	display: flex;
	border: 2px solid green;
	margin-right: 2rem;
}

.header__link {
	color: #dbdbdb;
	font-family: 'Space Mono', monospace;
	padding: 10px;
	text-decoration: none;
	font-weight: 700;
}

.header__link--logos {
	display: flex
}

.header__link:hover {
	transition: all 0.4s ease-in-out;
	color: #672ae9;
}

.burgermenu {
	cursor: pointer;
	padding: 7px;
	display: none;
}

.burgermenu>div {
	width: 7px;
	height: 7px;
	background-color: #672ae9;
	margin-top: 5px;
	border-radius: 50%;
}


@media screen and (max-width: 1024px) {
	.header__navlinks {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.header__navlinks {
		transition: transform all 1.5s ease-in;
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		margin-bottom: 5em;
		padding-bottom: 40px;
		transform: translateX(100%);
	}

	.header__link {
		font-size: 2.5em;
	}

	.header__navlinks a {
		/* opacity: 0; */
	}

	.burgermenu {
		display: block;
		margin-right: 1rem;
	}
}

.active{
	transform: translateX(0%);
}