.mentions{
	color: snow;
	width: 50%;
	margin-top: 450px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	margin-bottom: 0.5rem;
	padding: 2px;
}

.mentions__codeSymb{
	color: #672ae9;
	font-size: 1.8em;
}

.mentions__comment{
	color: #727474;
	font-size: 1.4em;
	letter-spacing: 1px;
}

.mentions__list h5{
	color: #672ae9;
}

.acknowledgement{
	color: #727474 !important;
	margin-top: 20px !important;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
	.mentions {
		width: 90%;
	}
	.mentions__list:last-child{
		white-space: initial;
		font-size: 1.5rem;
	}

}