@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.bootcampText {
	border: 2px solid green;
	width: 50%;
	margin-top: 400px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 2.3rem;
}

.bootcampText__academy{
	color: #672ae9;
}

.bootcampText__line1{
	color: #dbdbdb;
}

.bootcampText__line2{
	color: #dbdbdb;
}