
.zen{
	height: 500px;
	width: 500px;
	position: absolute;
	top: calc(50%);
	right: 0;
	z-index: -1;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
	.zen{
		height: 200px;
		width: 200px;
		position: absolute;
		top: calc(37%);
	}
}

@media only screen and (min-width: 667px) and (max-deve-width: 825px) {
	.zen{
		top: calc(52%);
		height: 350px;
		width: 350px;
	}
}

@media screen and (max-width: 375px) {
	.zen{
		height: 200px;
		width: 200px;
		top: calc(53%)
	}
}